{{page-title "Beschermde monumenten"}}

<AuApp>
  <AuMainHeader
    @brandLink="https://www.vlaanderen.be/nl"
    @appTitle="Beschermde monumenten"
  >
    {{#if this.session.isAuthenticated}}
      <AuDropdown
        @title="Aangemeld als {{this.session.user.name}}"
        @alignment="right"
        role="menu"
      >
        <AuButton @skin="link" role="menuitem">
          <AuIcon @icon="logout" @alignment="left" />Afmelden
        </AuButton>
      </AuDropdown>
    {{/if}}
  </AuMainHeader>
  {{!   <AuToolbar @size="medium" @skin="tint" @border="bottom" as |Group|>
    <Group>
      <ul class="au-c-list-horizontal au-c-list-horizontal--small">
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="index" @icon="arrow-left">
            Overzicht modules
          </AuLink>
        </li>
      </ul>
    </Group>
</AuToolbar>
}}
  <AuMainContainer as |m|>
    <m.content @scroll={{true}}>
      <div class="au-o-layout">
        {{outlet}}
      </div>
    </m.content>
  </AuMainContainer>
</AuApp>

<BasicDropdownWormhole />