{{page-title "Beschermde monumenten"}}

<AuContentHeader @titlePartOne="Vlaanderen" @titlePartTwo="is lokaal bestuur">
  <img
    sizes="50vw"
    src="/assets/images/loket-header-1600.jpg"
    srcset="/assets/images/loket-header-320.jpg 320w, /assets/images/loket-header-1024.jpg 1024w, /assets/images/loket-header-1600.jpg 1600w"
    alt="Foto van een laptop met daarop het vlaanderen logo."
  />
</AuContentHeader>

<section class="au-o-region-large">
  <div class="au-o-layout">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-3-4@small au-u-1-2@medium">
        <AuContent @skin="large">
          <h1>Beschermde monumenten</h1>
          <p>Controleer tot welke organisaties u toegang hebt via deze
            <AuLinkExternal
              href="https://mijnprofiel-gebruikersbeheer.vlaanderen.be/user/"
            >link</AuLinkExternal>. U kan toegang aanvragen door middel van
            <AuLinkExternal
              href="https://zelfregistratie-gebruikersbeheer.vlaanderen.be/user/aanvraag?&an=287&dg=LB&ec=ABB_LoketLB_LB_CompEnt_Gebruiker"
            >zelfregistratie</AuLinkExternal>. Uw interne beheerder zal de
            toegangsaanvraag behandelen.</p>
          <p>Lukt het aanmelden niet? Neem contact op met uw interne beheerder.
            Indien er zich een probleem voordoet, contacteer
            <AuLinkExternal
              href="https://overheid.vlaanderen.be/ict/ict-diensten/gebruikersbeheer"
            >gebruikersbeheer Vlaanderen</AuLinkExternal>.</p>
        </AuContent>
      </div>
      <div
        class="au-o-grid__item au-u-1-4@small au-u-1-2@medium au-u-text-right@medium"
      >
        <LoginButton />
      </div>
    </div>
  </div>
</section>