{{page-title "Beschermde monumenten"}}

<AuContentHeader @titlePartOne="Vlaanderen" @titlePartTwo="is lokaal bestuur">
  <img
    sizes="50vw"
    src="/assets/images/loket-header-1600.jpg"
    srcset="/assets/images/loket-header-320.jpg 320w, /assets/images/loket-header-1024.jpg 1024w, /assets/images/loket-header-1600.jpg 1600w"
    alt="Foto van een laptop met daarop het vlaanderen logo."
  />
</AuContentHeader>

<section class="au-o-region-large">
  <div class="au-o-layout">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-3-4@small au-u-1-2@medium">
        <AuContent @skin="large">
          <h1>Beschermde monumenten</h1>
        </AuContent>
      </div>
      <div
        class="au-o-grid__item au-u-1-4@small au-u-1-2@medium au-u-text-right@medium"
      >
        <LoginButton />
      </div>
    </div>
  </div>
</section>