{{page-title "Aanvraag werken"}}

<div class="au-o-region au-o-layout au-u-max-width-medium">

<AuHeading class="au-u-margin-top-large" @level="1" @skin="1">
  Aanvraag voor werken aan een beschermd monument
</AuHeading>

<WorkRequestForm />

</div>